.selection {
  height: 95vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../images/phone/selection-bg.webp");
  background-size: cover;
  background-position: 50%, 70%;
  position: relative;
  -webkit-clip-path: polygon(0 5vh, 100% 0, 100% 90vh, 0% 100%);
  clip-path: polygon(0 5vh, 100% 0, 100% 90vh, 0% 100%);
}

@media only screen and (min-width: 768px) {
  .selection {
    height: 50vh;
    -webkit-clip-path: polygon(0 5vh, 100% 0, 100% 45vh, 0% 100%);
    clip-path: polygon(0 5vh, 100% 0, 100% 45vh, 0% 100%);
  }
  .selection-links {
    flex: 1 1 0px;
  }
}
@media only screen and (min-width: 1024px) {
  .selection {
    height: 75vh;
    -webkit-clip-path: polygon(0 5vh, 100% 0, 100% 70vh, 0% 100%);
    clip-path: polygon(0 5vh, 100% 0, 100% 70vh, 0% 100%);
  }
}
